{% extends "GediAdminBundle::layout_admin.html.twig" %}

{% block titre_admin %}Documents{% endblock %}
{% block titre_admin_2 %}documents{% endblock %}
{% block tooltip_admin %}des documents{% endblock %}

{% block boutons_admin %}
    <div class="btn-group bs-bars pull-left" role="group" style="display: block">
        <button type="button" class="btn btn-success bouton-admin-popup-add" data-toggle="modal"
                data-target="#popup-add">Créer
        </button>
        <button id="bouton-download" type="button" class="btn btn-info bouton-desactive">
            <span class="glyphicon glyphicon-cloud-download"></span> Downloader <span class="badge spanNbSel"></span>
        </button>
        <button type="button" class="btn btn-danger bouton-desactive" data-toggle="modal" data-target="#popup-delete">
            Supprimer <span class="badge spanNbSel"></span>
        </button>
    </div>
{% endblock %}

{% block tableau_admin %}
    <thead>
    <tr>
        <th data-field="ck" data-checkbox="true"></th>
        <th data-field="id" data-visible="false">Id</th>
        <th data-field="nom" data-sortable="true">Nom du document</th>
        <th data-field="type" data-sortable="true" data-align="center">Type</th>
        <th data-field="datec" data-sortable="true">Date de création</th>
        <th data-field="datem" data-sortable="true">Date de modification</th>
        <th data-field="projet" data-sortable="true">Projet</th>
        <th data-field="propio" data-sortable="true">Propriétaire</th>
        <th data-field="ctrl" data-align="center">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for document in tab_objets %}
        <article>
            <tr>
                <td></td>
                <td>{{ document.idDocument }}</td>
                <td>{{ document.nom }}</td>
                <td data-align="center"><span class="label label-default">{{ document.typeDoc }}</span></td>
                <td>{{ document.dateCreation|date('Y-m-d H:i:s') }}</td>
                <td>{{ document.dateModification|date('Y-m-d H:i:s') }}</td>
                <td>{{ document.idProjetFkDocument.nom }}</td>
                <td>{{ document.idUtilisateurFkDocument.nom }} {{ document.idUtilisateurFkDocument.prenom }}</td>
                <td data-align="center">
                    <span data-toggle="tooltip" data-placement="bottom" title="Editer le document">
                    <button type="button" class="btn btn-default btn-warning round-button" data-toggle="modal"
                            data-target="#popup-add" onclick="edit('{{ document.toArray|json_encode }}');">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    </span>
                </td>
            </tr>
        </article>
    {% endfor %}
    </tbody>
{% endblock %}

{% block breadcrumb_admin %}Documents{% endblock %}
{% block popup_admin_del_titre %}de documents{% endblock %}

{% block popup_admin_add_titre %}document{% endblock %}
{% block popup_admin_add_contenu %}
    {{ form_start(documentForm, { 'attr':  {
        'class': 'form-admin',
    }}) }}
    <div class="form-group">
        {{ form_row(documentForm.idDocument) }}
        <div class="row">
            <div class="col-xs-9">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">1</span>
                    {{ form_errors(documentForm.nom) }}
                    {{ form_widget(documentForm.nom, { 'attr':  {
                        'rows': '1',
                        'class': 'form-control',
                        'placeholder': 'Nom du document'
                    }}) }}
                </div>
            </div>
            <div class="col-xs-3">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon2">2</span>
                    {{ form_errors(documentForm.typeDoc) }}
                    {{ form_widget(documentForm.typeDoc, { 'attr':  {
                        'rows': '1',
                        'class': 'form-control',
                        'placeholder': 'Type'
                    }}) }}
                </div>
            </div>
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon3">3</span>
            {{ form_errors(documentForm.tag) }}
            {{ form_widget(documentForm.tag, { 'attr':  {
                'rows': '1',
                'class': 'form-control',
                'placeholder': 'Tags du document'
            }}) }}
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon4">4</span>
            {{ form_errors(documentForm.resume) }}
            {{ form_widget(documentForm.resume, { 'attr':  {
                'rows': '4',
                'class': 'form-control',
                'placeholder': 'Resumé du document',
                'style' : 'resize : none'
            }}) }}
        </div>
        {{ form_row(documentForm.idUtilisateurFkDocument) }}
        {{ form_row(documentForm.idProjetFkDocument) }}
        {{ form_errors(documentForm.fichier) }}
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-info assign-user">
                <div class="panel-heading">
                    <h5>Définir le propriétaire du document</h5>
                </div>
                <div class="list-group">
                    {% for utilisateur in tab_users %}
                        {% if (utilisateur.role == 'ROLE_USER' and utilisateur.actif == '1') %}
                            <a id="list-activable-item-{{ utilisateur.idUtilisateur }}" href="#"
                               class="list-group-item list-users-item list-activable-item"
                               onclick="addUser('{{ utilisateur.idUtilisateur }}');">
                                <span class="glyphicon glyphicon-user"></span> {{ utilisateur.nom }} {{ utilisateur.prenom }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-info assign-user">
                <div class="panel-heading">
                    <h5>Définir le projet parent</h5>
                </div>
                <div id="liste-projets" class="list-group"></div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group">
            <label id="bouton-upload" class="btn btn-primary"><span class="glyphicon glyphicon-cloud-upload"></span>
                Uploader
                {{ form_widget(documentForm.fichier, { 'attr':  {
                    'rows': '1',
                    'class': 'form-control',
                    'style': 'display: none'
                }}) }}
            </label>
            <input type="submit" class="btn btn-success bouton-submit-admin-entity"/>
            <button type="button" class="btn btn-danger bouton-dismiss-entity" data-dismiss="modal">Annuler</button>
        </div>
    </div>
    {{ form_end(documentForm) }}
{% endblock %}
