{% extends "::layout.html.twig" %}

{% block app_titre %}
    Administration - Home
{% endblock %}

{% block app_contenu %}
    <div id="nb_users_inactifs" style="visibility:hidden">{{ nb_users_inactifs }}</div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div id="panel-1" style="visibility:hidden" class="panel panel-primary">
                    <div class="panel-heading text-center">
                        <a href="{{ path('users_admin') }}" class="text-white">
                            <h4><span class="glyphicon glyphicon-user"></span>
                                Utilisateurs</h4>
                        </a>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group" style="height: auto">
                            <li class="list-group-item text-center">
                                <h4>Total <strong>{{ nb_users }}</strong></h4>
                            </li>
                            <li class="list-group-item">
                                <h4>Fréquence de création</h4>
                                <p><span class="glyphicon glyphicon-calendar text-primary"></span> Par jour
                                    <strong>{{ (nb_users / 365)|slice(0, 5) }}</strong>
                                </p>
                                <p><span class="glyphicon glyphicon-calendar text-primary"></span> Par mois
                                    <strong>{{ (nb_users / 12)|slice(0, 5) }}</strong>
                                </p>
                                <p><span class="glyphicon glyphicon-calendar text-primary"></span> Par an
                                    <strong>{{ nb_users }}</strong>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="panel-2" style="visibility:hidden" class="panel panel-primary">
                    <div class="panel-heading text-center">
                        <a href="{{ path('groups_admin') }}" class="text-white">
                            <h4><span class="glyphicon glyphicon-th"></span> Groupes</h4>
                        </a>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group" style="height: auto">
                            <li class="list-group-item text-center">
                                <h4>Total <strong>{{ nb_groups }}</strong></h4>
                            </li>
                            <li class="list-group-item">
                                <h4>Fréquence de création</h4>
                                <p><span class="glyphicon glyphicon-calendar text-primary"></span> Par jour
                                    <strong>{{ (nb_groups / 365)|slice(0, 5) }}</strong>
                                </p>
                                <p><span class="glyphicon glyphicon-calendar text-primary"></span> Par mois
                                    <strong>{{ (nb_groups / 12)|slice(0, 5) }}</strong>
                                </p>
                                <p><span class="glyphicon glyphicon-calendar text-primary"></span> Par an
                                    <strong>{{ nb_groups }}</strong>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="panel-3" style="visibility:hidden" class="panel panel-primary">
                    <div class="panel-heading text-center">
                        <a href="{{ path('projects_admin') }}" class="text-white">
                            <h4><span class="glyphicon glyphicon-folder-close"></span> Projets</h4>
                        </a>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group" style="height: auto">
                            <li class="list-group-item text-center">
                                <h4>Total <strong>{{ nb_projects }}</strong></h4>
                            </li>
                            <li class="list-group-item">
                                <h4>Fréquence de création</h4>
                                <p><span class="glyphicon glyphicon-calendar text-primary"></span> Par jour
                                    <strong>{{ (nb_projects / 365)|slice(0, 5) }}</strong>
                                </p>
                                <p><span class="glyphicon glyphicon-calendar text-primary"></span> Par mois
                                    <strong>{{ (nb_projects / 12)|slice(0, 5) }}</strong>
                                </p>
                                <p><span class="glyphicon glyphicon-calendar text-primary"></span> Par an
                                    <strong>{{ nb_projects }}</strong>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="panel-4" style="visibility:hidden" class="panel panel-primary">
                    <div class="panel-heading text-center">
                        <a href="{{ path('docs_admin') }}" class="text-white">
                            <h4><span class="glyphicon glyphicon-file"></span> Documents</h4>
                        </a>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group" style="height: auto">
                            <li class="list-group-item text-center">
                                <h4>Total <strong>{{ nb_docs }}</strong></h4>
                            </li>
                            <li class="list-group-item">
                                <h4>Fréquence de création</h4>
                                <p><span class="glyphicon glyphicon-calendar text-primary"></span> Par jour
                                    <strong>{{ (nb_docs / 365)|slice(0, 5) }}</strong>
                                </p>
                                <p><span class="glyphicon glyphicon-calendar text-primary"></span> Par mois
                                    <strong>{{ (nb_docs / 12)|slice(0, 5) }}</strong>
                                </p>
                                <p><span class="glyphicon glyphicon-calendar text-primary"></span> Par an
                                    <strong>{{ nb_docs }}</strong>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div id="panel-5" class="panel" style="visibility:hidden">
                    <div class="row">
                        <div class="col-md-3">
                            <h4 style="padding-left: 20px" class="text-success"><span
                                        class="glyphicon glyphicon-cloud-upload"></span> Upload</h4>
                        </div>
                        <div class="col-md-3">
                            <h4>Jour <strong>{{ (nb_docs / 365)|slice(0, 5) }}</strong></h4>
                        </div>
                        <div class="col-md-3">
                            <h4>Mois <strong>{{ (nb_docs / 12)|slice(0, 5) }}</strong></h4>
                        </div>
                        <div class="col-md-3">
                            <h4>An <strong>{{ nb_docs }}</strong></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div id="panel-6" class="panel" style="visibility:hidden">
                    <div class="row">
                        <div class="col-md-3">
                            <h4 style="padding-left: 10px" class="text-danger"><span
                                        class="glyphicon glyphicon-cloud-download"></span> Download
                            </h4>
                        </div>
                        <div class="col-md-3">
                            <h4>Jour <strong>{{ (nb_download / 365)|slice(0, 5) }}</strong></h4>
                        </div>
                        <div class="col-md-3">
                            <h4>Mois <strong>{{ (nb_download / 12)|slice(0, 5) }}</strong></h4>
                        </div>
                        <div class="col-md-3">
                            <h4>An <strong>{{ nb_download }}</strong></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Nav tabs -->
        <ul id="panel-7" style="visibility:hidden" class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#users" aria-controls="users" role="tab" data-toggle="tab">
                    <span class="glyphicon glyphicon-user"></span>Utilisateurs
                </a>
            </li>
            <li role="presentation">
                <a href="#groups" aria-controls="groups" role="tab" data-toggle="tab">
                    <span class="glyphicon glyphicon-th"></span> Groupes
                </a>
            </li>
            <li role="presentation">
                <a href="#projects" aria-controls="projects" role="tab" data-toggle="tab">
                    <span class="glyphicon glyphicon-folder-close"></span> Projets
                </a>
            </li>
            <li role="presentation">
                <a href="#docs" aria-controls="docs" role="tab" data-toggle="tab">
                    <span class="glyphicon glyphicon-file"></span> Documents
                </a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div id="panel-8" style="visibility:hidden" class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="users">
                <div class="panel panel-default">
                    <div class="table-responsive">
                        <table class="table" data-toggle="table" data-striped="true"
                               data-classes="table-no-bordered table-hover">
                            <thead>
                            <tr>
                                <th data-field="nom" data-sortable="true" data-align="center">Nom</th>
                                <th data-field="prenom" data-sortable="true" data-align="center">Prenom</th>
                                <th data-field="login" data-sortable="true" data-align="center">Login</th>
                                <th data-field="datec" data-sortable="true" data-align="center">Date de création</th>
                                <th data-field="datem" data-sortable="true" data-align="center">Date de modification
                                </th>
                                <th data-field="actif" data-visible="false">Actif</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for utilisateur in tab_users_last %}
                                <article>
                                    {% if (utilisateur.role == 'ROLE_ADMIN') %}
                                    <tr class="danger text-danger">
                                        {% elseif (utilisateur.actif == '0') %}
                                    <tr class="info text-info">
                                        {% else %}
                                    <tr>
                                        {% endif %}
                                        <td>{{ utilisateur.nom }}</td>
                                        <td>{{ utilisateur.prenom }}</td>
                                        <td>{{ utilisateur.username }}</td>
                                        <td>{{ utilisateur.dateCreation|date('Y-m-d H:i:s') }}</td>
                                        <td>{{ utilisateur.dateModification|date('Y-m-d H:i:s') }}</td>
                                        <td>{{ utilisateur.actif }}</td>
                                    </tr>
                                </article>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="groups">
                <div class="panel panel-default">
                    <div class="table-responsive">
                        <table class="table" data-toggle="table" data-striped="true"
                               data-classes="table-no-bordered table-hover">
                            <thead>
                            <tr>
                                <th data-field="nom" data-sortable="true" data-align="center">Nom du groupe</th>
                                <th data-field="datec" data-sortable="true" data-align="center">Date de création</th>
                                <th data-field="datem" data-sortable="true" data-align="center">Date de modification
                                </th>
                                <th data-field="propio" data-sortable="true" data-align="center">Propriétaire</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for groupe in tab_groups_last %}
                                <article>
                                    <tr>
                                        <td>{{ groupe.nom }}</td>
                                        <td>{{ groupe.dateCreation|date('Y-m-d H:i:s') }}</td>
                                        <td>{{ groupe.dateModification|date('Y-m-d H:i:s') }}</td>
                                        <td>{{ groupe.idUtilisateurFkGroupe.nom }} {{ groupe.idUtilisateurFkGroupe.prenom }}</td>
                                    </tr>
                                </article>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="projects">
                <div class="panel panel-default">
                    <div class="table-responsive">
                        <table class="table" data-toggle="table" data-striped="true"
                               data-classes="table-no-bordered table-hover">
                            <thead>
                            <tr>
                                <th data-field="nom" data-sortable="true" data-align="center">Nom du projet</th>
                                <th data-field="datec" data-sortable="true" data-align="center">Date de création</th>
                                <th data-field="datem" data-sortable="true" data-align="center">Date de modification
                                </th>
                                <th data-field="propio" data-sortable="true" data-align="center">Propriétaire</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for projet in tab_projects_last %}
                                <article>
                                    <tr>
                                        <td>{{ projet.nom }}</td>
                                        <td>{{ projet.dateCreation|date('Y-m-d H:i:s') }}</td>
                                        <td>{{ projet.dateModification|date('Y-m-d H:i:s') }}</td>
                                        <td>{{ projet.idUtilisateurFkProjet.nom }} {{ projet.idUtilisateurFkProjet.prenom }}</td>
                                    </tr>
                                </article>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="docs">
                <div class="panel panel-default">
                    <div class="table-responsive">
                        <table class="table" data-toggle="table" data-striped="true"
                               data-classes="table-no-bordered table-hover">
                            <thead>
                            <tr>
                                <th data-field="nom" data-sortable="true">Nom du document</th>
                                <th data-field="type" data-sortable="true" data-align="center">Type</th>
                                <th data-field="datec" data-sortable="true" data-align="center">Date de création</th>
                                <th data-field="datem" data-sortable="true" data-align="center">Date de modification
                                </th>
                                <th data-field="projet" data-sortable="true" data-align="center">Projet</th>
                                <th data-field="propio" data-sortable="true" data-align="center">Propriétaire</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for document in tab_docs_last %}
                                <article>
                                    <tr>
                                        <td>{{ document.nom }}</td>
                                        <td data-align="center"><span
                                                    class="label label-default">{{ document.typeDoc }}</span></td>
                                        <td>{{ document.dateCreation|date('Y-m-d H:i:s') }}</td>
                                        <td>{{ document.dateModification|date('Y-m-d H:i:s') }}</td>
                                        <td>{{ document.idProjetFkDocument.nom }}</td>
                                        <td>{{ document.idUtilisateurFkDocument.nom }} {{ document.idUtilisateurFkDocument.prenom }}</td>
                                    </tr>
                                </article>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default" style="padding-left: 20px">
                    <h4><span class="glyphicon glyphicon-hdd"></span> Mémoire occupée
                        <strong>{{ (memorySize / 1048576)|slice(0, 10) }}</strong> Kilo bytes</h4>
                </div>
            </div>
        </div>
        <br>
        <ol class="breadcrumb">
            <li><a href="{{ path('start') }}">Home</a></li>
            <li class="active">Administration</li>
        </ol>
    </div>
{% endblock %}
