{% extends "GediAdminBundle::layout_admin.html.twig" %}

{% block titre_admin %}Projets{% endblock %}
{% block titre_admin_2 %}projets{% endblock %}
{% block tooltip_admin %}des projets{% endblock %}

{% block boutons_admin %}
    <div class="btn-group bs-bars pull-left" role="group" style="display: block">
        <button type="button" class="btn btn-success bouton-admin-popup-add" data-toggle="modal"
                data-target="#popup-add">Créer
        </button>
        <button type="button" class="btn btn-danger bouton-desactive" data-toggle="modal" data-target="#popup-delete">
            Supprimer <span class="badge spanNbSel"></span>
        </button>
    </div>
{% endblock %}

{% block tableau_admin %}
    <thead>
    <tr>
        <th data-field="ck" data-checkbox="true"></th>
        <th data-field="id" data-visible="false">Id</th>
        <th data-field="nom" data-sortable="true">Nom du projet</th>
        <th data-field="datec" data-sortable="true">Date de création</th>
        <th data-field="datem" data-sortable="true">Date de modification</th>
        <th data-field="propio" data-sortable="true">Propriétaire</th>
        <th data-field="ctrl" data-align="center">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for projet in tab_objets %}
        <article>
            <tr>
                <td></td>
                <td>{{ projet.idProjet }}</td>
                <td>{{ projet.nom }}</td>
                <td>{{ projet.dateCreation|date('Y-m-d H:i:s') }}</td>
                <td>{{ projet.dateModification|date('Y-m-d H:i:s') }}</td>
                <td>{{ projet.idUtilisateurFkProjet.nom }} {{ projet.idUtilisateurFkProjet.prenom }}</td>
                <td data-align="center">
                    <button type="button" class="btn btn-default btn-primary round-button btn-view-entity"
                            data-toggle="popover" data-placement="auto left" title="Documents du projet"
                            data-trigger="focus" data-content="<ul id='liste-children' class='list-group'></ul>"
                            data-animation="true" data-container="body" data-html="true">
                        <span class="glyphicon glyphicon-file"></span>
                    </button>
                    <span data-toggle="tooltip" data-placement="bottom" title="Editer le projet">
                        <button type="button" class="btn btn-default btn-warning round-button" data-toggle="modal"
                                data-target="#popup-add" onclick="edit('{{ projet.toArray|json_encode }}');">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </span>
                </td>
            </tr>
        </article>
    {% endfor %}
    </tbody>
{% endblock %}

{% block breadcrumb_admin %}Projets{% endblock %}
{% block popup_admin_del_titre %}de projets{% endblock %}

{% block popup_admin_add_titre %}projet{% endblock %}
{% block popup_admin_add_contenu %}
    {{ form_start(projetForm, { 'attr':  {
        'class': 'form-admin',
    }}) }}
    <div class="form-group">
        {{ form_row(projetForm.idProjet) }}
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">1</span>
            {{ form_errors(projetForm.nom) }}
            {{ form_widget(projetForm.nom, { 'attr':  {
                'rows': '1',
                'class': 'form-control',
                'placeholder': 'Nom du projet'
            }}) }}
        </div>
        {{ form_row(projetForm.idUtilisateurFkProjet) }}
        {{ form_row(projetForm.parent) }}
        <br>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-info assign-user">
                <div class="panel-heading">
                    <h5>Définir le propriétaire du projet</h5>
                </div>
                <div class="list-group">
                    {% for utilisateur in tab_users %}
                        {% if (utilisateur.role == 'ROLE_USER' and utilisateur.actif == '1') %}
                            <a id="list-activable-item-{{ utilisateur.idUtilisateur }}" href="#"
                               class="list-group-item list-users-item list-activable-item"
                               onclick="addUser('{{ utilisateur.idUtilisateur }}');">
                                <span class="glyphicon glyphicon-user"></span> {{ utilisateur.nom }} {{ utilisateur.prenom }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-info assign-user">
                <div class="panel-heading">
                    <h5>Définir le projet parent</h5>
                </div>
                <div id="liste-projets" class="list-group"></div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group">
            <input type="submit" class="btn btn-success bouton-submit-admin-entity"/>
            <button type="button" class="btn btn-danger bouton-dismiss-entity" data-dismiss="modal">Annuler</button>
        </div>
    </div>
    {{ form_end(projetForm) }}
{% endblock %}
