{% extends "GediAdminBundle::layout_admin.html.twig" %}

{% block titre_admin %}Projets{% endblock %}
{% block titre_admin_1 %}projets{% endblock %}
{% block tooltip_admin_1 %}des projets{% endblock %}

{% block boutons_admin_1 %}
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#popup-add">Créer</button>
    <button type="button" class="btn btn-danger boutonDesactive" data-toggle="modal" data-target="#popup-delete"
            onclick="majPopupDelete()">Supprimer <span class="badge spanNbSel"></span>
    </button>
{% endblock %}

{% block tableau_admin_1 %}
    <thead>
    <tr>
        <th data-checkbox="true"></th>
        <th>Id</th>
        <th data-sortable="true">Nom du projet</th>
        <th data-sortable="true">Date de création</th>
        <th data-sortable="true">Date de modification</th>
        <th data-sortable="true">Propriétaire</th>
        <th data-align="center">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for projet in tab_objets %}
        <article>
            <tr>
                <td></td>
                <td>{{ projet.idProjet }}</td>
                <td>{{ projet.nom }}</td>
                <td>{{ projet.dateCreation|date('Y-m-d H:i:s') }}</td>
                <td>{{ projet.dateModification|date('Y-m-d H:i:s') }}</td>
                <td>{{ projet.idUtilisateurFkProjet.nom }} {{ projet.idUtilisateurFkProjet.prenom }}</td>
                <td data-align="center">
    <span data-toggle="tooltip" data-placement="bottom"
          title="Voir les documents">
    <button type="button"
            class="btn btn-default btn-primary round-button"><span
                class="glyphicon glyphicon-file"></span>
    </button>
    </span>
                    <span data-toggle="tooltip" data-placement="bottom"
                          title="Editer le projet">
    <button type="button"
            class="btn btn-default btn-warning round-button" data-toggle="modal" data-target="#popup-add"><span
                class="glyphicon glyphicon-pencil"></span>
    </button>
    </span>
                </td>
            </tr>
        </article>
    {% endfor %}
    </tbody>
{% endblock %}

{% block breadcrumb_admin_1 %}Projets{% endblock %}
{% block popup_admin_del_titre %}de projets{% endblock %}
{% block popup_admin_del_1 %}projets{% endblock %}
{% block popup_admin_add_1 %}projet{% endblock %}

{% block popup_admin_add_2 %}
    {% if projetForm %}
        {{ form_start(projetForm) }}
        <div class="form-group">
            <br>
            {{ form_errors(projetForm.nom) }}
            {{ form_widget(projetForm.nom, { 'attr':  {
                'rows': '1',
                'class': 'form-control',
                'placeholder': 'Nom du projet'
            }}) }}
            <br>
        </div>
        <div class="modal-footer">
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Créer"/>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
            </div>
        </div>
        {{ form_end(projetForm) }}
    {% else %}
        <a href="{{ path('login') }} ">Connectez-vous</a> pour créer un projet.
    {% endif %}
{% endblock %}
