{% extends "GediAdminBundle::layout_admin.html.twig" %}

{% block titre_admin %}Utilisateurs{% endblock %}
{% block titre_admin_2 %}utilisateurs{% endblock %}
{% block tooltip_admin %}d'utilisateur{% endblock %}

{% block boutons_admin %}
    <div class="btn-group" role="group" style="display: block">
        <button type="button" class="btn btn-success bouton-admin-popup-add" data-toggle="modal"
                data-target="#popup-add">Ajouter
        </button>
        <button type="button" class="btn btn-danger bouton-desactive" data-toggle="modal"
                data-target="#popup-delete">Supprimer <span class="badge spanNbSel"></span>
        </button>
    </div>
    <div>
        <label class="checkbox-inline">
            <input id="toggle-new-users" type="checkbox" checked data-toggle="toggle" data-on="Nouveaux" data-off="Tous"
                   data-size="large" data-width="100" data-height="35">
            <span id="span-nb-inactifs" class="badge"></span>
        </label>
    </div>
{% endblock %}

{% block tableau_admin %}
    <thead>
    <tr>
        <th data-field="ck" data-checkbox="true"></th>
        <th data-field="id" data-sortable="true" data-visible="false">Id</th>
        <th data-field="nom" data-sortable="true">Nom</th>
        <th data-field="prenom" data-sortable="true">Prenom</th>
        <th data-field="login" data-sortable="true">Login</th>
        <th data-field="datec" data-sortable="true">Date de création</th>
        <th data-field="datem" data-sortable="true">Date de modification</th>
        <th data-field="actif" data-visible="false">Actif</th>
        <th data-field="ctrl" data-align="center">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for utilisateur in tab_objets %}
        <article>
            {% if (utilisateur.role == 'ROLE_ADMIN') %}
            <tr class="text-danger">
                {% elseif (utilisateur.actif == '0') %}
            <tr class="info text-info">
                {% else %}
            <tr>
                {% endif %}
                <td></td>
                <td>{{ utilisateur.idUtilisateur }}</td>
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.prenom }}</td>
                <td>{{ utilisateur.username }}</td>
                <td>{{ utilisateur.dateCreation|date('Y-m-d H:i:s') }}</td>
                <td>{{ utilisateur.dateModification|date('Y-m-d H:i:s') }}</td>
                <td>{{ utilisateur.actif }}</td>
                <td data-align="center">
                        <span data-toggle="tooltip" data-placement="bottom"
                              title="Accéder à l'espace utilisateur">
                            <button type="button" class="btn btn-default btn-primary round-button">
                                <span class="glyphicon glyphicon-dashboard"></span>
                            </button>
                        </span>
                    <span data-toggle="tooltip" data-placement="bottom" title="Editer la fiche utilisateur">
                        <button type="button" class="btn btn-default btn-warning round-button"
                                data-toggle="modal" data-target="#popup-add"
                                onclick="edit('{{ utilisateur.toArray|json_encode }}');">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        </span>
                </td>
            </tr>
        </article>
    {% endfor %}
    </tbody>
{% endblock %}

{% block breadcrumb_admin %}Utilisateurs{% endblock %}
{% block popup_admin_del_titre %}d'utilisateurs{% endblock %}

{% block popup_admin_add_contenu %}
    {{ form_start(utilisateurForm, { 'attr':  {
        'class': 'form-admin',
    }}) }}
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">1</span>
            {{ form_errors(utilisateurForm.username) }}
            {{ form_widget(utilisateurForm.username, { 'attr':  {
                'rows': '1',
                'class': 'form-control',
                'placeholder': 'Login'
            }}) }}
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon2">2</span>
            {{ form_errors(utilisateurForm.password.first) }}
            {{ form_widget(utilisateurForm.password.first, { 'attr':  {
                'rows': '1',
                'class': 'form-control',
                'placeholder': 'Mot de passe'
            }}) }}
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon3">3</span>
            {{ form_errors(utilisateurForm.password.second) }}
            {{ form_widget(utilisateurForm.password.second, { 'attr':  {
                'rows': '1',
                'class': 'form-control',
                'placeholder': 'Confirmation'
            }}) }}
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon4">4</span>
            {{ form_errors(utilisateurForm.nom) }}
            {{ form_widget(utilisateurForm.nom, { 'attr':  {
                'rows': '1',
                'class': 'form-control',
                'placeholder': 'Nom'
            }}) }}
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon5">5</span>
            {{ form_errors(utilisateurForm.prenom) }}
            {{ form_widget(utilisateurForm.prenom, { 'attr':  {
                'rows': '1',
                'class': 'form-control',
                'placeholder': 'Prenom'
            }}) }}
        </div>
        <br>
        <div class="input-group" style="margin-top: -10px; margin-left: -20px;">
            {{ form_widget(utilisateurForm.actif, { 'attr':  {
                'rows': '1',
                'class': 'form-control',
                'data-toggle': 'toggle',
                'data-on': 'Actif',
                'data-off': 'Inactif',
                'data-size': 'large',
                'data-width': '100',
                'data-height': '35',
            }}) }}
        </div>
        {{ form_row(utilisateurForm.idUtilisateur) }}
    </div>
    <div class="modal-footer">
        <div class="form-group">
            <input type="submit" class="btn btn-success bouton-submit-admin-entity"/>
            <button type="button" class="btn btn-danger bouton-dismiss-entity" data-dismiss="modal">Annuler</button>
        </div>
    </div>
    {{ form_end(utilisateurForm) }}
{% endblock %}
