{% extends 'base.html.twig' %}

{% block body %}
    <h1>Documents list</h1>

    <table>
        <thead>
            <tr>
                <th>Iddocument</th>
                <th>Nom</th>
                <th>Typedoc</th>
                <th>Datecreation</th>
                <th>Datemodification</th>
                <th>Tag</th>
                <th>Resume</th>
                <th>Path</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for document in documents %}
            <tr>
                <td><a href="{{ path('document_show', { 'id': document.idDocument }) }}">{{ document.idDocument }}</a></td>
                <td>{{ document.nom }}</td>
                <td>{{ document.typeDoc }}</td>
                <td>{% if document.dateCreation %}{{ document.dateCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if document.dateModification %}{{ document.dateModification|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ document.tag }}</td>
                <td>{{ document.resume }}</td>
                <td>{{ document.path }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('document_show', { 'id': document.idDocument }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('document_edit', { 'id': document.idDocument }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('document_new') }}">Create a new document</a>
        </li>
    </ul>
{% endblock %}
