{% extends 'base.html.twig' %}

{% block body %}
    <h1>Utilisateur</h1>

    <table>
        <tbody>
            <tr>
                <th>Idutilisateur</th>
                <td>{{ utilisateur.idUtilisateur }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ utilisateur.login }}</td>
            </tr>
            <tr>
                <th>Motdepasse</th>
                <td>{{ utilisateur.motDePasse }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ utilisateur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ utilisateur.prenom }}</td>
            </tr>
            <tr>
                <th>Salt</th>
                <td>{{ utilisateur.salt }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ utilisateur.role }}</td>
            </tr>
            <tr>
                <th>Datecreation</th>
                <td>{% if utilisateur.dateCreation %}{{ utilisateur.dateCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datemodification</th>
                <td>{% if utilisateur.dateModification %}{{ utilisateur.dateModification|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('utilisateur_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('utilisateur_edit', { 'id': utilisateur.idUtilisateur }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
