{% extends 'base.html.twig' %}

{% block body %}
    <h1>Groupes list</h1>

    <table>
        <thead>
            <tr>
                <th>Idgroupe</th>
                <th>Nom</th>
                <th>Datecreation</th>
                <th>Datemodification</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for groupe in groupes %}
            <tr>
                <td><a href="{{ path('groupe_show', { 'id': groupe.idGroupe }) }}">{{ groupe.idGroupe }}</a></td>
                <td>{{ groupe.nom }}</td>
                <td>{% if groupe.dateCreation %}{{ groupe.dateCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if groupe.dateModification %}{{ groupe.dateModification|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('groupe_show', { 'id': groupe.idGroupe }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('groupe_edit', { 'id': groupe.idGroupe }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('groupe_new') }}">Create a new groupe</a>
        </li>
    </ul>
{% endblock %}
